@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');


@font-face {
    font-family : 'Muli';
    font-style  : normal;
    font-weight : 500;
    font-display: swap;
    src         : url("assets/font/Muli-Regular.ttf") format('truetype');
}

@font-face {
    font-family : 'Muli';
    font-weight : 600;
    font-style  : SemiBold;
    font-display: swap;
    src         : url("assets/font/Muli-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family : 'Muli';
    font-weight : 700;
    font-style  : Bold;
    font-display: swap;
    src         : url("assets/font/Muli-Bold.ttf") format("truetype");
}

@font-face {
    font-family : 'Muli';
    font-weight : 300;
    font-style  : Light;
    font-display: swap;
    src         : url("assets/font/Muli-Light.ttf") format("truetype");
}

body {
    box-sizing : border-box;
    margin     : 0 0;
    font-family: 'Muli';
    font-style : normal;
    font-size  : 18px;
    line-height: 23px;

}

body::-webkit-scrollbar {
    display: none;
}

main,
header {
    width : 70%;
    margin: auto;
}



ul {

    margin-block-start  : 0em;
    margin-block-end    : 0em;
    margin-inline-start : 0px;
    margin-inline-end   : 0px;
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

.section_space {
    padding: 100px 0;
}

.menuicon {
    position: absolute;
    top     : 29px;
    right   : 1px;
}

.topnav {
    position   : relative;
    padding-top: 20px;
    min-height : 0px;
    align-items: center;
}

.navlist {
    display   : none;
    transition: 0.5s;
}

.navlist_active {
    display   : block;
    transition: 0.5s;
}

.navlist li {
    margin    : 15px auto;
    color     : #1F1534;
    opacity   : 0.5;
    text-align: right;
}

.widthdecider {
    padding-top    : 50px;
    display        : flex;
    flex-flow      : row wrap;
    margin         : 0 auto;
    align-items    : center;
    align-self     : center;
    justify-content: space-between;
}

.topHeading_content {
    flex: 0 0 100%;
}

.topHeading_content_div1 {
    font-weight: bold;
    font-size  : 28px;
    line-height: 1.25;
}

.topHeading_content_div2 {
    padding    : 25px 0;
    font-weight: 300;
    font-size  : 16px;
    line-height: 32px;
    color      : #7D7987;
}

.topHeading_content_button {
    padding      : 12px 32px;
    background   : #458FF6;
    border-radius: 55px;
    border-color : #458FF6;
    color        : white;
    font-style   : 600;
    font-size    : 18px;
    line-height  : 1.5;
    border       : none;
}

.topHeading_illustration {
    padding-top: 20px;
    flex       : 0 0 90%;
}

.imageSize {
    max-width : 100%;
    max-height: 500px;
}

.service {
    display    : flex;
    flex-flow  : column nowrap;
    align-items: center;
}

.service_heading {
    font-weight   : bold;
    font-size     : 36px;
    line-height   : 1.5;
    color         : #000000;
    mix-blend-mode: normal;
}

.service_line {
    width        : 56px;
    height       : 2px;
    margin       : 30px 0;
    background   : #000000;
    border-radius: 5px;
}

.service_tag {
    width         : 78%;
    font-weight   : 300;
    font-size     : 18px;
    line-height   : 1.7;
    text-align    : center;
    color         : #7D7987;
    mix-blend-mode: normal;
}

.service_container {
    margin               : 80px 0;
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-rows   : auto;
    grid-gap             : 35px 35px;
    align-self           : start;
    justify-self         : start;
    justify-items        : center;
}

.service_container_card {
    background   : #fff;
    box-shadow   : 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.service_container_marigin {
    margin-top   : 47px;
    margin-bottom: 47px;
    margin-left  : 38px;
    margin-right : 60px;
}

.service_container_card_img {
    margin-bottom: 25px;
    width        : 91px;
    height       : 95px;
    align-self   : center;
}

.service_container_card_heading {
    margin-bottom : 10px;
    font-weight   : bold;
    font-size     : 24px;
    line-height   : 1.5;
    color         : #000000;
    mix-blend-mode: normal;
}

.service_container_card_tag {
    font-weight   : 300;
    font-size     : 16px;
    line-height   : 28px;
    color         : #7D7987;
    mix-blend-mode: normal;
}

.service_button {
    padding         : 12px 42px;
    font-size       : 18px;
    font-weight     : 600;
    line-height     : 1.5;
    border          : 1.4px solid #458FF6;
    box-sizing      : border-box;
    border-radius   : 55px;
    color           : #458FF6;
    background-color: white;
}

.leadingHC_heading {
    font-weight: bold;
    font-size  : 36px;
    line-height: 1.5;
}

.leadingHC_tag {
    padding-bottom: 30px;
    font-weight   : 300;
    font-size     : 18px;
    line-height   : 30px;
    color         : #7D7987;
}

.sayings {
    padding         : 64px 0;
    display         : flex;
    flex-flow       : row wrap;
    background-image: linear-gradient(191.49deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius   : 24px;
    align-items     : center;
    align-self      : center;
    justify-content : space-evenly;
}

.sayings_heading {
    display        : flex;
    justify-content: center;
    flex-basis     : 85%;
    font-weight    : bold;
    font-size      : 36px;
    line-height    : 48px;
    color          : #FFFFFF;
}

.sayings_author_div {
    flex-basis     : 100%;
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    align-self     : center;
    align-items    : center;
}


.sayings_line {
    margin-top   : 25px;
    margin-bottom: 40px;
    height       : 2px;
    width        : 56px;
    background   : white;
}

.sayings_author {
    box-sizing   : border-box;
    margin       : 0 20px;
    height       : 133px;
    width        : 133px;
    border-radius: 50%;
    border       : 5px solid white;
}

.sayings_comments {
    margin-top : 20px;
    flex-basis : 85%;
    font-weight: normal;
    font-size  : 19px;
    line-height: 30px;
    color      : rgba(255, 255, 255, 0.9);
}

.sayings_navigator_dots {
    margin       : 0 18px;
    align-self   : center;
    width        : 10px;
    height       : 10px;
    border-radius: 50%;
    opacity      : 0.3;
    background   : #5B9BF3;
}

.sayings_navigator_arrows_previous {
    transform   : rotate(-180deg);
    margin-right: 20px;
}

.sayings_navigator_arrows_next {
    margin-left: 20px;
}


.sayings_div {
    display        : flex;
    justify-content: center;
    padding        : 50px;
}


.article_container_marigin {
    margin-top   : 24px;
    margin-bottom: 35px;
    margin-left  : 33px;
    margin-right : 33px;
}

.article_container_card_heading {
    font-size  : 21px;
    line-height: 32px;
    font-weight: bold;
}

.article_container_card_tag {
    padding-top: 12px;
    font-weight: 300;
    font-size  : 16px;
    line-height: 28px;
    color      : #7D7987;
}

.article_container_card_link {
    padding-top: 25px;
    font-weight: 600;
    font-size  : 17px;
    line-height: 28px;
    color      : #4089ED;
}

.article_container_card_link_img {
    margin-left: 15px;
    position   : relative;
    top        : 3px;
    transform  : rotate(-90deg);
}

.article_container_card_img {

    width          : 100%;
    max-height     : 100%;
    object-fit     : cover;
    object-position: center center;
}

.article_button {
    padding         : 12px 60px;
    font-size       : 18px;
    font-weight     : 600;
    line-height     : 1.5;
    border          : 1.4px solid #458FF6;
    box-sizing      : border-box;
    border-radius   : 55px;
    color           : #458FF6;
    background-color: white;
    margin-bottom   : 69px;
}

.footer_div {
    background-image: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    display         : flex;
    flex-flow       : row wrap;
    justify-content : space-between;
    align-self      : center;
    color           : white;
    padding         : 110px 14%;
    font-weight     : 300;
    font-size       : 18px;
    line-height     : 38px;
}

.footer_div1 {
    flex-basis    : 100%;
    line-height   : 28px;
    padding-bottom: 20px;
}

.footer_heading {
    font-weight: bold;
    font-size  : 20px;
    line-height: 60px;
}

.footer_company {
    flex-basis: 15%;
}

.footer_region {
    flex-basis: 15%;
}

.footer_help {
    flex-basis: 20%;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .service_container {
        grid-template-columns: 1fr;
    }

    .sayings_navigator_arrows_previous {
        margin-right: 50px;
    }

    .sayings_navigator_arrows_next {
        margin-left: 50px;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .service_container {
        grid-template-columns: repeat(2, 1fr);
    }



    .topHeading_content_div1 {
        font-weight: bold;
        font-size  : 48px;
        line-height: 56px;
    }

    .topHeading_content_div2 {
        font-weight: 300;
        font-size  : 21px;
        line-height: 32px;
    }

    .sayings_navigator_arrows_previous {
        margin-right: 115px;
    }

    .sayings_navigator_arrows_next {
        margin-left: 115px;
    }


}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .navlist li {
        margin    : 0 15px;
        color     : #1F1534;
        opacity   : 0.5;
        text-align: center;
    }

    .topnav {
        display        : flex;
        height         : 125px;
        padding-top    : 0px;
        align-items    : center;
        justify-content: space-between;
    }

    .navlist {
        display: flex;
    }

    .menuicon {
        display: none;
    }

    .service_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .topHeading_content {
        flex-basis: 37%;
    }

    .topHeading_illustration {
        flex-basis: 50%;
    }

    .imageSize {
        min-width : 435px;
        min-height: 500px;
    }

    .sayings_line {
        margin-bottom: 50px;
    }

    .sayings_author_div {
        flex-basis: 35%;
        flex-flow : row nowrap;
    }



    .sayings_comments {
        margin-top: 0px;
        flex-basis: 40%;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .footer_div1 {
        flex-basis: 35%;
    }

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}